:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    max-width: 100vw;
    height: 3rem;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img{
    width: 10%;
    margin: auto auto auto 1.5rem;
}
nav a{
    margin: 1.5rem;
    text-decoration: none;
    color: #787878;
}

nav a.login{
    margin: auto 1.5rem auto auto;
    padding: 0.5rem 1.5rem;
    border: 0.5px solid #787878;
    border-radius: 10px;
}

nav a:hover, a.login:hover{
    color: black;
    border-color: black;
}
nav a:active, a.login:active{
    color: rgb(255, 60, 60);
    border-color: rgb(255, 60, 60);


}